.selector {
    display:inline-flex;
    margin:0.2rem;
  }
  .valor {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: yellow;
    font-size:2rem;  
    color: black;
  }
  
  button {
    height: 3rem;
    width: 30px;
   

    text-transform: uppercase;
    text-align: center;
    color: black;
    border-radius: 5%;
    border-color: rgb(238, 235, 230);
    background-color: rgb(233, 231, 227);
    box-shadow: black;
  }